<div>
  <label>Hero name: </label> <input #heroName/>
  <button (click)="addHero(heroName.value);heroName.value=''">Add</button>
</div>
<p>My Heroes:</p>
<ul class="heroes">
  <li *ngFor="let hero of heroes,let i=index" (click)="onSelect(hero)" [class.selected]="hero===selectedHero">
    <span class="badge">{{hero.id}}</span>
    <span>{{hero.name}}</span>
    <button class="delete" (click)="deleteHero(hero);$event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="goToDetail()">View Details</button>
</div>

